
.homepage__container {
    background-color: #f9f9f9;
    height: 100%;
}

/* Banner */

.homepage__banner__container {
    background-image: url('../../Assets/Images/banner_desktop.jpg');
    background-size: cover;
    background-position: center;

    font-family: 'Open Sans', Arial, sans-serif !important;

}

.homepage__banner__content_wrapper {
    max-height: 384px;
    max-width: 1190px;

    margin: auto !important;

    padding: 40px 0px !important;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homepage__banner__text {
    color: white;
    font-size: 17px !important;
}

.homepage__banner__title {
    color: white;
    max-width: 586px;

    line-height: 1.5;
    
    font-family: 'Open Sans', 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
    font-weight: 700;
    font-size: 35px !important;
}

.homepage__banner__signup__form__container {
    background-color: #fff;

    display: flex;
    flex-direction: row;
    gap: 8px;

    padding: 16px !important;
    border-radius: 8px;

    width: fit-content;
    margin-top: 14px !important;
}

.homepage__textfield__small {
    width: 107px !important;
}
.homepage__textfield__big {
    width: 195px !important;
}

.homepage_banner__signup_button {
    width: 107px !important;
    background-color: #40b840 !important;
    box-shadow: none;
    font-weight: bold;
    font-size: 16px !important;
}

.homepage_banner__signup_button:hover {
    background-color: #6bc96b !important;
    box-shadow: none;
}

.homepage__banner__bank__icons__container {
    display: flex;
    flex-direction: row;
    gap: 8px;

    margin-top: 14px !important;
}

.homepage__banner__bank__icons {
    height: 30px;
    width: auto;
}

/* MainContent */

.homepage__main__content__container {

    max-width: 1190px;

    margin: auto !important;
    padding: 16px 0px !important;
}

.homepage__promo__cards__container {
    display: flex;
    flex-direction: column;

    gap: 24px;

    padding: 16px 0px !important;
}

.homepage__promo__title__wrapper {
    display: flex;
    flex-direction: row;

    align-items: center !important;
}

.homepage__promo__title {
    font-family: 'Open Sans', 'Roboto', 'Helvetica', 'Arial', sans-serif !important;

    font-size: 26px !important;
    font-weight: 700 !important;

    color: #212121;
}

.homepage__promo__button {
    margin-left: auto !important;

    color: #ff6600 !important;
    border-color: #ff6600 !important;

    text-transform: none !important;

    font-weight: bold !important;
    font-size: 12px !important;
    padding: 8px 16px !important;
}

.homepage__promo__terms__text {
    color: #ff6600 !important;
    font-size: 11px !important;
}

.homepage__inter__sponsor__container {
    padding: 16px 0px !important;
}

.homepage__inter__sponsor__image {
    background-image: url('https://cdnroute.bpsgameserver.com/v3/bgr/Betsson.GR/Common/el/image/2024/07/8479f23500ac4662a87aafb2dae8786d.jpg');
    background-size: cover !important;
    
    border-radius: 8px;

    height: 296px;
    width: 100%;

}

.homepage__inter__sponsor__content__wrapper {
    display: flex;
    flex-direction: column;
    
    gap: 10px;

    padding: 36px 40px !important;
    width: 50%;
}

.homepage__inter__sponsor__text {
    font-family: 'Open Sans', 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
    color: #ffffff !important;
}

.homepage__inter__sponsor__title {
    font-size: 34px !important;
    font-weight: 700 !important;
}

.homepage__inter__sponsor__subtitle {
    font-size: 18px !important;
}

.inter__sponsor__button {
    height: 56px;
    padding: 16px !important;
    width: max-content;

    background-color: #40b840 !important;
    box-shadow: none !important;

    font-weight: 700 !important;

    margin-top: 24px !important;
}

.inter__sponsor__button:hover {
    background-color: #50c250 !important;
}

.homepage__casino__cards__container {
    padding: 16px 0px !important;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.homepage__casino__cards__wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.homepage__casino__slider__container {
    overflow-x: auto;
    white-space: nowrap;

    padding-bottom: 17px !important;
}