.homepage__banner__container {
    background-image: url('../../Assets/Images/banner_desktop.jpg');
    background-size: cover;
    background-position: center;

    font-family: 'Open Sans', Arial, sans-serif !important;

}

.homepage__banner__content_wrapper {
    max-height: 384px;
    max-width: 1190px;

    margin: auto !important;

    padding: 40px 0px !important;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homepage__banner__text {
    color: white;
    font-size: 17px;
}

.homepage__banner__title {
    color: white;
    max-width: 586px;

    line-height: 1.5;
    
    font-family: 'Open Sans', 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
    font-weight: 700;
    font-size: 35px;
}

.homepage__banner__signup__form__container {
    background-color: #fff;

    display: flex;
    flex-direction: row;
    gap: 8px;

    padding: 16px !important;
    border-radius: 8px;

    width: fit-content;
    margin-top: 14px !important;
}

.homepage__textfield__small {
    width: 107px !important;
}
.homepage__textfield__big {
    width: 195px !important;
}

.homepage_banner__signup_button {
    width: 107px !important;
    background-color: #40b840 !important;
    box-shadow: none;
    font-weight: bold;
    font-size: 16px;
}

.homepage_banner__signup_button:hover {
    background-color: #6bc96b !important;
    box-shadow: none;
}

.homepage__banner__bank__icons__container {
    display: flex;
    flex-direction: row;
    gap: 8px;

    margin-top: 14px !important;
}

.homepage__banner__bank__icons {
    height: 30px;
    width: auto;
}
